html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  background: rgb(238, 61, 120);
  border-radius: 20px;
  color: white;
}
.active:hover {
  color: white;
}
#nprogress .bar {
  height: 4px !important;
  background: #ee3d78 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ee3d78, 0 0 5px #ee3d78 !important;
}
